@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color: #313a43;
}
.container{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}


.navbar{
  width: 100%;
  background-color: #038f62;
  height: 70px;
  overflow: hidden;
}
.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar .container .logo{
  background-color: #fff;
  padding: 20px;
  color: #038f62;
}
.navbar .container .tab{
  display: flex;
  list-style-type: none;
}
.navbar .container .tab li{
  padding: 20px 10px;
}
.navbar .container .tab li a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  
}
p{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
h1{
  font-size: 2rem;
  text-align: center;
}
.hero{
  background: url(./bg.png) no-repeat center/cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.676);
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero .container .content{
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}
.hero .container .content h1{
  font-size: 3rem;
}
.hero .container .content p{
  color: #038f62;
}
.foot{
  width: 100%;

}
.foot .rule{
  border-bottom: #038f62 2px solid;
}
.foot .rule .container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot .rule .container .content{
  text-align: center;
  color: #fff;
  word-spacing: 1px;
  padding-top: 50px;
}
.foot .rule .container .content h1{
  margin-bottom: 10px;
  font-size: 3rem;
}
.foot .rule .container .content p{
  font-weight: normal;
  font-weight: 100px;
  margin-top: 10px;
}
.foot .rule .container .socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  margin: 40px 0px;
}  

.foot .rule .container .socials table tr td .btn{
  text-decoration: none;
  color: #fff;
  align-items: center;
  margin-right: 30px;
}
.foot .rule .container .socials .btn i{
  margin-right: 5px;
  line-height: 1.2;
}
.bottom .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 30px 0px;
}